## Importando as bibliotecas

#### Biblioteca pandas

In [1]:
import pandas as pd

#### Biblioteca sklearn, somente as funções necessárias

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier

### Atribuindo o dataset em uma variável

In [3]:
df = pd.read_csv('wine_dataset.csv')

### Imprimindo o conjunto de dados com as primeiras 5 linhas

In [4]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

### Imprimindo todas as colunas

In [5]:
df.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'style'],
      dtype='object')

### Imprimindo a quantidade de linhas e colunas, respectivamente

In [6]:
df.shape

(6497, 13)

### A coluna style será o alvo para realizar o aprendizado de máquina
#### Próximo passo é selecionar a coluna e realizar duas alterações
#### Mudar o tipo **red** para 0 e o tipo **white** para 1

In [7]:
df['style'] = df['style'].replace('red', 0) 
df['style'] = df['style'].replace('white', 1)

### Instânciando as variáveis, alvo e preditora, respectivamente
#### Obs: na preditora é realizado o drop somente da coluna style

In [8]:
y = df['style']
x = df.drop('style', axis=1)

### Criando os conjuntos de dados, treino e teste
#### Setando 30% para teste e por consequência 70% para treino

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

### Porcentagem que foi separada para treino (70%)

In [10]:
y_train.shape

(4547,)

### Porcentagem que foi separada para teste (30%)

In [11]:
y_test.shape

(1950,)

### Modelo de treino
#### Atribuindo a função do sklearn para uma variável
#### Usando a mesma para cumprir com o objetivo

In [12]:
model = ExtraTreesClassifier()
model.fit(x_train, y_train)

ExtraTreesClassifier()

### Modelo de teste
#### Para saber a acurácia do modelo

In [13]:
accuracy = model.score(x_test, y_test)

### Imprimindo a acurácia do modelo

In [14]:
print('Accuracy: ', accuracy)

Accuracy:  0.9958974358974358

### Classificação
#### Utilizando cinco linhas aleatórias do dataset

In [15]:
y_test[100:105]

5814    1
2214    1
178     0
5823    1
5836    1
Name: style, dtype: int64

### Preditora
#### Utilizando as mesmas cinco linhas para fazer a comparação e ver se o modelo é realmente funcional

In [16]:
x_test[100:105]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
5814,7.0,0.440,0.24,12.1,0.056,68.0,210.0,0.99718,3.05,0.50,9.5,5
2214,7.5,0.230,0.68,11.0,0.047,37.0,133.0,0.99780,2.99,0.38,8.8,5
178,7.0,0.805,0.00,2.5,0.068,7.0,20.0,0.99690,3.48,0.56,9.6,5
5823,5.4,0.220,0.35,6.5,0.029,26.0,87.0,0.99092,3.29,0.44,12.5,7
5836,7.5,0.230,0.30,1.2,0.030,27.0,80.0,0.99192,3.05,0.68,10.5,5

### Realizando a previsão
#### Selecionando as cinco linhas para fazer o teste

In [17]:
predictions = model.predict(x_test[100:105])

### Imprimindo as previsões

In [18]:
predictions

array([1, 1, 0, 1, 1])

#### Aprendizado realizado com sucesso, acertando todos os tipos de vinhos, tendo **100%** de precisão nas previsões
##### Teste simples, porém funcional.